/*张祥庚，用于制作和练习*/
/*bothqia@126.com */
/*guangzhou*/
/*2016.3.8*/

/*reset*/
blockquote, body, button, caption, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, html, input, legend, li, menu, ol, p, pre, table, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

address, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption, th {
  text-align: left;
  font-weight: 400
}

abbr, body, fieldset, html, iframe, img {
  border: 0
}

address, cite, dfn, em, i, var {
  font-style: normal
}

[hidefocus], summary {
  outline: 0
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
  font-weight: 400
}

sub, sup {
  font-size: 83%
}

code, kbd, pre, samp {
  font-family: inherit
}

q:after, q:before {
  content: none
}

textarea {
  overflow: auto;
  resize: none
}

label, summary {
  cursor: default
}

a, button {
  cursor: pointer;
  border: 0
}

b, em, strong {
  font-weight: 700
}

a, a:hover, del, ins, s, u {
  text-decoration: none
}

body, button, input, keygen, legend, select, textarea {
  font: 12px/1.14 arial, \5b8b\4f53;
  color: #5e5959;
  outline: 0;
  line-height:1.14!important;
}

body {
  background: #fefefe;
  font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53
}

a, a:hover {
  color: #5e5959
}


.f-cb:after, .f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}

.f-cb, .f-cbli li {
  zoom: 1
}

.u-label{
  cursor:pointer;
}

.g-body{
  margin-top: 20px;
  margin-left: 20px;
}
.m-suspend{
	width:87px;
}
.m-suspend .yao{
	display:none;
	font-size:0;
	height:85px;
	overflow:hidden;
}
.m-suspend .cc{
	display:block;
	border:4px solid #c90028;
	border-left: 3px solid #c90028;
	margin-left: 1px;
	border-top:0;
}
.m-box-tj .tj li{
  float: left;
  margin-right: 10px;
  padding:5px;
  border:1px solid #3399CC;
  background-color: #00FFFF;
}
.m-box-yx .yx li{
  float: left;
  margin-right: 10px;
  padding:5px;
  border:1px solid #ff7f00;
  background-color: #cfb53b;
}

